body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  width: 100%;
  height: 100%;
  /* border: 3px solid palevioletred; */
  margin: 0px auto;
}
img {
  width: 200px;
  margin-top: 15px;
}
.image {
  text-align: center;
}
h1 {
  margin-right: 130px;
  color: deepskyblue;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 0px;
}
p.p1 {
  margin-bottom: 5px;
  margin-right: 135px;
  margin-top: 12px;
  color:#bbb;
}
h3.city {
  margin-top: 5px;
  margin-right: 110px;
  margin-bottom: 10px;
}
p.p2 {
  margin-right: 105px;
  margin-bottom: 10px;
  color: #bbb;
  
}
h3.blood {
  margin-top: 0px;
  margin-right: 165px;
}
p.p3 {
  margin-right: 165px;
  margin-bottom: 5px;
  color: #bbb;
}
h3.age {
  margin-right: 169px;
  margin-top: 0px;
}
.card{
  border: 3px solid pink;
}






